
 .navbarse{
    display: flex;
    background-color: black;
    height: 100px;
    align-self: flex-start;
    width: 100%;
    flex-direction: column;
    flex-shrink: 0;
}
.boton-container{
    flex-direction: row;
    align-self: flex-start;
    
}


.link{
    margin-top: 4%;
    
    
}
.link .imagen{
    width: 20px;
    
}

